{% render 'padding' %}
{{ "trust-badge.css" | asset_url | stylesheet_tag }}

<div class="trust-badge page-width section-{{ section.id }}-padding">
    <div class="trust-badge-section">
        <ul class="trust-badge__item">
            <li class="trust-badge__image-item"><img class="trust-badge__image" src="{{ section.settings.trust-badge_image1 | img_url: '160x' }}" alt=""></li>
            <li class="trust-badge__title">{{ section.settings.trust-badge_heading1 }}</li>
            <li class="trust-badge__description">{{ section.settings.trust-badge_description1 }}</li>
        </ul>
        <ul class="trust-badge__item">
            <li class="trust-badge__image-item"><img class="trust-badge__image" src="{{ section.settings.trust-badge_image2 | img_url: '160x' }}" alt=""></li>
            <li class="trust-badge__title">{{ section.settings.trust-badge_heading2 }}</li>
            <li class="trust-badge__description">{{ section.settings.trust-badge_description2 }}</li>
        </ul>
        <ul class="trust-badge__item">
            <li class="trust-badge__image-item"><img class="trust-badge__image" src="{{ section.settings.trust-badge_image3 | img_url: '160x' }}" alt=""></li>
            <li class="trust-badge__title">{{ section.settings.trust-badge_heading3 }}</li>
            <li class="trust-badge__description">{{ section.settings.trust-badge_description3 }}</li>
        </ul>
    </div>
</div>

{% schema %}
{
   "name": "CS - Trust Badge",
  "tag": "section",
  "settings": [
        {
            "type": "header",
            "content": "Trust Badge 1"
        },
        {
            "type": "image_picker",
            "id": "trust-badge_image1",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "trust-badge_heading1",
            "label": "Heading",
            "default": "(Insert Heading Here)"
        },
        {
            "type": "textarea",
            "id": "trust-badge_description1",
            "label": "Description",
            "default": "(Insert Description Here)"
        },
        {
            "type": "header",
            "content": "Trust Badge 2"
        },
        {
            "type": "image_picker",
            "id": "trust-badge_image2",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "trust-badge_heading2",
            "label": "Heading",
            "default": "(Insert Heading Here)"
        },
        {
            "type": "textarea",
            "id": "trust-badge_description2",
            "label": "Description",
            "default": "(Insert Description Here)"
        },
        {
            "type": "header",
            "content": "Trust Badge 3"
        },
        {
            "type": "image_picker",
            "id": "trust-badge_image3",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "trust-badge_heading3",
            "label": "Heading",
            "default": "(Insert Heading Here)"
        },
        {
            "type": "textarea",
            "id": "trust-badge_description3",
            "label": "Description",
            "default": "(Insert Description Here)"
        },
        {
            "type": "header",
            "content": "Section Padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 36
        }
  ],
 "presets": [
     {
         "name":"Trust Badge"
     }
 ]
}
{% endschema %}